@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @import url(/css/contact.css);  */
/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  *::before{
      box-sizing: border-box;
  }

  *::after{
      box-sizing: border-box;
  }

:root{

    /* Box Shadow */
    --shd: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    line-height: 1.5rem;
    background-size: contain;
    scroll-behavior: smooth;
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
 }
 

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    color: var(--txtclr);
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

img{
    height: 100%;
}
button{
    background-color: transparent;
    color: #0050FF;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-right: 25px;
}

.grid{
    display: grid;
    grid-template-columns: 1080px 350px;
}

/* Nav Bar */
.nav.container{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.nav.container h4{
    font-weight: 400;
}

.nav__menu{
    background-color: #E6DACE;
    /* box-shadow: var(--shd), 2px 2px 0 rgba(129, 133, 182, 0.2); ; */
}

button:hover{
    opacity: 0.9;
}

.nav-overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6DACE;
    padding: 60px;
    opacity: 0;  
    visibility: hidden;   
    z-index: 2;
}

/* Show Overlay Js */
.show-overlay{
    opacity: 1;
    visibility: visible;
}
.nav-overlay-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* z-index:1; */
}

.nav-overlay a{
    color: #1c1d1f;
    font-weight: 900;
    font-size: 30px;
    line-height: 70px;
}

#menu-show-btn{
    position: absolute;
    right: 5px;
    top: 30px;
    height: 30px;
    width: 30px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 35px;
    transition: all 300ms ease-in-out;
}

#menu-hide-btn{
    position: absolute;
    right: -10px;
    top: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    font-size: 35px;
}

.nav__list li a{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 800;
    transition: all 300ms ease-in-out;
}

.nav__list li a:hover{
    color: #0050FF;
}
/* 
.nav__icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__icons a:hover{
    color: #0050FF;
}

.nav__icons li a i{
    font-size: 50px;
    font-weight: 900; } */


.card__left.container{
    margin: auto;
    position: relative;
    left: 225px;
    top: 250px;
    width: 400px;
    height: 500px;
    background-color: #F4ECE6;
    text-align: center;
    box-shadow: var(--shd), 0 0 0 rgba(0, 0, 0, 0.2);
}
    
.card__img{
    padding-top: 50px;
}

.card__name{
    position: relative;
    top: 25px; 
    font-size: 30px; 
    line-height: 35px;; 
 
}
.card__prof{
    position: relative;
    top: 70px;
    font-size: 18px;
}

.card__left-button{
    position: relative;
    top: 110px;
    margin: auto;
    text-align: center;
}

.btn-prim{
    background-color: #0050FF;
    color: #fff;
    /* border-radius: 90px; */
    padding: 5px 20px;
    margin: 5px;
}


.btn-prim:hover{
    background-color: #F4ECE6;
    color: black;
    border: 1px solid black;
    transition: all 300ms ease-in-out;
 }

.btn-sec{
    background-color: #F4ECE6;
    color: black;
    /* border-radius: 90px; */
    border: 1px solid black;
    padding: 5px 20px;
    margin: 5px;
}


.btn-sec:hover{
    background-color: #0050FF;
    border: 1px solid #0050FF;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.card__social{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    height: 50px;
    overflow: hidden;
    position: relative;
    top: 150px;
    margin: auto;
    padding: 20px;
    box-shadow: var(--shd), 0 0 0 rgba(0, 0, 0, 0.2);
}

.card__link{
    font-size: 30px;
    color: black;
}

.card__right.container{
    margin: auto;
    position: relative;
    top: 275px;
    right: 35px;
}

.card__right-title{
    font-size: 50px;
    position: relative;
    bottom: 35px;
}

.card__right-subtitle{
    font-size: 20px;
    line-height: 50px;
}
.card__right-description{
    position: relative;
    top: 30px;
    font-weight: 300;
}

footer{
    background-color: #fff;
    position: relative;
    top: 400px;
    height: 100px;
}

.copyright{
    font-size: 14px;
    font-weight: 300;
    margin-left: 25px;
    margin-top: 25px;
}

.mail{
    margin: auto;
    display: flex;
}

.social{
    margin: auto;
    display: flex;
    position: relative;
    left: 1080px;
    bottom: 35px;
}

.follow{
    display: flex;
    margin: 0 10px;
}

.follow li a{
    font-size: 20px;
    letter-spacing: 10px;
}
::-webkit-scrollbar{
    width: 8px;
    border-radius: 8px;
    background-color: #E6DACE;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #F4ECE6;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: #F4ECE6;
  }
  

/* Tablet */
 @media(max-width: 912px){

    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #E6DACE;

    }
    .nav.container{
        width: 100%;
        font-size: 14px;
    }
.card__left.container{
    transform: scale(1.25);
        margin: auto;
        position: relative;
        left: -150px;
        top: 200px;
    }
.card__right.container{
        grid-template-columns: 1fr;
        margin: auto;
        position: relative;
        top: 750px;
        right: 850px;
        width: 500px;
    }

    .card__right-description{
      font-size: 20px;
      position: relative;
      top: 10px;
      right: 100px;
    }
    .card__right-title,
    .card__right-subtitle{
        position: relative;
        right: 100px;
    }
    
    footer{
        position: relative;
        top: 900px;
    }

    footer.container.grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .social h4{
        position: relative;
        right: 1500px;
        font-size: 18px;
    }
    .follow li a{
        position: relative;
        right: 1500px;
        font-size: 25px;
    }
    .mail{
        position: relative;
        right: 675px;
        font-size: 18px;
    }

    .copyright{
        position: relative;
        top: 25px;
        left: 250px;
        bottom: 100px;
    }
 }

 /* Mobile */

 @media(max-width: 600px){
     
    html,
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #E6DACE;
    }
    .nav.container{
        width: 100%;
        font-size: 14px;
        height: 100px;
    }
    .card__left.container{
        position: relative;
        left:-350px;
        top: 125px;
        width: 250px;
        height: 375px;
    }
    .card__right.container{
        grid-template-columns: 1fr;
        position: relative;
        top: 750px;
        right: 975px;
        width: 275px;
    } 
    .card__img{
        padding-top: 25px;
    }

    .mail{
        display: inline-block;
        position: relative;
        right: 1150px;
        font-size: 14px;
        margin-top: 25px;
        top: 30px;
    }
    
    .mail p{
        position: relative;
        bottom: 25px;
        left: 60px;
    }
    .copyright{
        position: relative;
        top: 50px;
        left: -25px;
        bottom: 175px;
        margin-top: 50px;
        background-color:#fff;
    }

    .copyright p{
        position: relative;
        left: 50px;
        margin-bottom: 10px;
    }

    .social h4{
        position: relative;
        bottom: 25px;
        right: 1525px;
        font-size: 14px;
    }
    .follow li a{
        position: relative;
        right: 1525px;
        font-size: 20px;
        bottom: 25px;
    }
    .card__social{
        position: relative;
        top: 102px;
        margin: auto;
        height: 10px 
    }
    .card__link{
         font-size: 20px;
         color: black;
    }

    .card__name{
        font-size: 20px;
        line-height: 25px;
    }
    .card__prof{
        position: relative;
        top: 35px;
        font-size: 14px;
    }

    .card__right-description{
        font-size: 16px;
    }

    .card__left-button{
        position: relative;
        top: 55px;
    }

    .btn-prim{
        margin: 3px;
        font-size: 14px;
        padding: 5px;
    }
    
    .btn-sec{
        margin: 3px;
        font-size: 14px;
        padding: 5px;
    }
}


 
 